.master-container {
    background-color: var(--main-bg-color);
}

.logo-text {
    font-size: 150%;
    font-weight: bolder;
    letter-spacing: 3.125rem;
}

.link-buttons {
    background-color: var(--bg-color);
    border: 0.2rem solid grey;
    border-radius: 1rem 0.1rem 1rem 0.1rem;
    overflow: hidden;
}

.button-text {
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: var(--text-color-bright);
}

.spotify-icon,
.wikipedia-icon {
    filter: grayscale(100%);
}

.introduction-container {
    background-color: grey;
    border: 0.2rem solid var(--bg-color);
    border-radius: 1.2rem 0.3rem 1.2rem 0.3rem;
}

.introduction-image {
    filter: sepia(75%);
    border-radius: 0.4rem;
}

.introduction-text,
.main-text,
.aside {
    text-align: justify;
}

.steckbrief-container,
.lebenslauf-container {
    border-top: 00.2rem solid lightgray;
    border-bottom: 00.2rem solid lightgray;
    border-radius: 1.2rem 0rem 1.2rem 0rem;
}

.zitat {
    background-color: lightgrey;
    border: 0.2rem solid var(--bg-color);
    border-radius: 1.2rem 0.3rem 1.2rem 0.3rem;
    padding: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.autogramm-image {
    border: 0.2rem solid var(--bg-color);
    border-radius: 1rem 0.1rem 1rem 0.1rem;
}

.geburtsort-container,
.weblinks-container {
    background-color: grey;
    border: 0.2rem solid var(--bg-color);
    border-radius: 1.2rem 0.3rem 1.2rem 0.3rem;
}

.geburtsort-text,
.weblinks-text {
    line-height: 2rem;
}

.weblink {
    font-weight: bold;
}

.footer-container {
    background-color: var(--bg-color);
    color: var(--footer-text-color);
}

.source-links {
    font-style: italic;
    font-weight: bold;
    color: var(--footer-text-color);
}
