.master-container {
    background-color: rgb(184, 184, 184);
}

.logo-text {
    font-size: 150%;
    font-weight: bolder;
    letter-spacing: 50px;
}

.link-buttons {
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: rgb(214, 214, 214);
    background-color: rgb(71, 71, 71);
    border: 0.2rem solid grey;
    border-radius: 1rem 0.1rem 1rem 0.1rem;
    overflow: hidden;
}

.spotify-icon,
.wikipedia-icon {
    filter: grayscale(100%);
}

.introduction-container {
    background-color: grey;
    border: 0.2rem solid rgb(71, 71, 71);
    border-radius: 1.2rem 0.3rem 1.2rem 0.3rem;
}

.introduction-image {
    filter: sepia(75%);
}

.introduction-text,
.main-text,
.aside {
    text-align: justify;
}
